body
    padding-top: 20vw
    background: #fff
    font-family: 'Architects Daughter', cursive
  
    @media screen and (min-width: 640px) 
        padding-top: 0
        background: #fff

.hidden
    display: none

.txt
    font-size: 4vw
    line-height: 1.6

    @media screen and (min-width: 640px) 
      font-size: 1.5vw

    @media screen and (min-width: 1900px) 
      font-size: 16px

.project
    &::before
      content: ""
      position: absolute
      z-index: 2
      left: 0vw
      top: 0vw
      display: block
      width: 40vw
      height: 20vw
      background: url('/assets/images/feuille2.png') left top no-repeat
      background-size: 100%

    &::after
      content: ""
      position: fixed
      z-index: 2
      right: 0vw
      bottom: -10vw
      display: block
      width: 25vw
      height: 50vw
      background: url('/assets/images/feuille1.png') left top no-repeat
      background-size: 120%

      @media screen and (min-width: 640px) 
        width: 20vw
        height: 40vw

.main
    min-height: $h-main
    padding-bottom: 30vw

    @media screen and (min-width: 640px) 
        padding-bottom: 0
