body
    padding-top: 20vw
    background: #fff
    font-family: 'Architects Daughter', cursive
  
    @media screen and (min-width: 769px) 
        padding-top: 0
        background: #fff

    &.hasNavOpen 
        padding-top: 0

.hidden
    display: none

.txt
    font-size: 4vw
    line-height: 1.6

    @media screen and (min-width: 769px) 
      font-size: 1.5vw

    @media screen and (min-width: 1900px) 
      font-size: 16px

.project
    &::before
      content: ""
      position: absolute
      z-index: 2
      left: 0vw
      top: 0vw
      display: block
      width: 40vw
      height: 20vw
      background: url('/assets/images/feuille2.png') left top no-repeat
      background-size: 100%

    &::after
      content: ""
      position: fixed
      z-index: 2
      right: 0vw
      bottom: -10vw
      display: block
      width: 25vw
      height: 50vw
      background: url('/assets/images/feuille1.png') left top no-repeat
      background-size: 120%

      @media screen and (min-width: 769px) 
        width: 20vw
        height: 40vw

.main
    
    text-align: center
    padding-top: 2vw

    @media screen and (min-width: 769px) 
        padding-top: 3vw
        min-height: h-main
    //padding-bottom: 25vw

    @media screen and (min-width: 769px) 
        padding-bottom: 0

    &__inner
        max-width: 92vw
        margin: auto
        padding: 0 2vw 10vw

        @media screen and (min-width: 769px) 
            max-width: 500px
            padding: 2vw 2vw 4vw

    &__title
        position: relative
        margin-bottom: 5vw
        text-transform: uppercase
        font-size: 6vw
        //text-decoration: underline

        @media screen and (min-width: 640px) 
            font-size: 4vw

        @media screen and (min-width: 769px) 
            margin-bottom: 2vw
            font-size: 2vw

        &::before
            content: ""
            display: block
            width: 70vw
            height: 20vw
            margin: auto
            background: url('/assets/images/logo-restaurant-le-marakkari.png') center center no-repeat
            background-size: 100%

            @media screen and (min-width: 769px) 
                width: 30vw
                height: 10vw


