body
    padding-top: 20vw
    background: #fff
    font-family: 'Architects Daughter', cursive
  
    @media screen and (min-width: 640px) 
        padding-top: 0
        background: #fff

.hidden
    display: none

.txt
    font-size: 4vw
    line-height: 1.6

    @media screen and (min-width: 640px) 
      font-size: 1.5vw

    @media screen and (min-width: 1900px) 
      font-size: 16px

.main
    min-height: $h-main - $h-header

.footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
   
    @media screen and (min-width: 640px) 
        margin-top: 0

    &__txt
        font-size: 2vw
        line-height: 1.6
        text-align: center

        @media screen and (min-width: 640px) 
            font-size: 1vw

        @media screen and (min-width: 1900px) 
            font-size: 12px


