body
    padding-top: 20vw
    background: #fff
    font-family: 'Architects Daughter', cursive
  
    @media screen and (min-width: 640px) 
        padding-top: 0
        background: #fff

.hidden
    display: none

.txt
    font-size: 4vw
    line-height: 1.6

    @media screen and (min-width: 640px) 
      font-size: 1.5vw

    @media screen and (min-width: 1900px) 
      font-size: 16px

.main
    min-height: $h-main

.project
    &::before
      content: ""
      position: absolute
      z-index: 2
      left: 0vw
      top: 0vw
      display: block
      width: 40vw
      height: 20vw
      background: url('/assets/images/feuille2.png') left top no-repeat
      background-size: 100%