body
    padding-top: 20vw
    background: #fff
    font-family: 'Architects Daughter', cursive
  
    @media screen and (min-width: 640px) 
        padding-top: 0
        background: #fff

.hidden
    display: none

.txt
    font-size: 4vw
    line-height: 1.6

    @media screen and (min-width: 640px) 
      font-size: 1.5vw

    @media screen and (min-width: 1900px) 
      font-size: 16px