@import '../_includes'

.booking
  
  &__form
    max-width: 90vw

    @media screen and (min-width: 640px) 
      max-width: 50vw

  &__form-group
    display: flex

  &__label
    display: inline-block
    text-align: left
    width: 50%

    @media screen and (min-width: 640px) 
      width: 30%

    &--radio
      width: 8vw
      height: 8vw
      line-height: 8vw
      text-align: center
      border: 1px solid $c-txt
      border-radius: 0

      @media screen and (min-width: 640px) 
        width: 2vw
        height: 2vw
        line-height: 2vw


  &__input
    width: 50%

    @media screen and (min-width: 640px) 
      width: -70%

    &--radio
      width: auto
      display: none

      &:checked + .booking__label
        background-color: $c-link
        color: $c-white
        border-color: $c-link

  
    

