@import '../_includes'

.booking
  
  &__form
    max-width: 90vw

    @media screen and (min-width: 640px) 
      max-width: 50vw

  &__formgroup
    display: flex
    margin-bottom: 3vw
    align-items: center

    @media screen and (min-width: 640px) 
      margin-bottom: 1vw

  &__label
    display: inline-block
    text-align: left
    width: 40%

    @media screen and (min-width: 640px) 
      width: 30%

    &--radio
      width: 8vw
      height: 8vw
      line-height: 8vw
      text-align: center
      //border: 1px solid $c-txt
      border-radius: 0
      margin-bottom: 1vw

      @media screen and (min-width: 640px) 
        width: 2vw
        height: 2vw
        line-height: 2vw
        margin-bottom: 0


  &__input
    width: 60%
    height: 10vw

    @media screen and (min-width: 640px) 
      width: 70%
      height: auto

    &--multi
      display: flex
      justify-content: space-around
      height: auto

    &--radio
      width: auto
      display: none

      &:checked + .booking__label
        background-color: $c-link
        color: $c-white
        border-color: $c-link

  
    

