@import '../_includes'

.booking

  &__form
    position: relative
    z-index: 3

    .hasNavOpen &
      z-index: 1

  &__formgroup
    display: flex
    margin-bottom: 3vw
    align-items: center

    @media screen and (min-width: 769px) 
      margin-bottom: 1vw

    &--date
      flex-wrap: wrap;

  &__label
    display: inline-block
    text-align: left
    width: 40%

    @media screen and (min-width: 769px) 
      width: 30%

    &--radio
      //width: 8vw
      height: 8vw
      line-height: 8vw
      text-align: center
      //border: 1px solid $c-txt
      border-radius: 0
      margin-bottom: 1vw

      @media screen and (min-width: 769px) 
        //width: 2vw
        height: 2vw
        line-height: 2vw
        margin-bottom: 0


  &__input
    width: 60%
    height: 10vw
    padding: 0 1vw
    border: 1px solid $c-link 
    -webkit-appearance: none
    box-shadow: none

    @media screen and (min-width: 640px) 
      height: 6vw

    @media screen and (min-width: 769px) 
      width: 70%
      height: 2.5vw

    .booking__formgroup--date &
      width: 34%
      margin-right: 1%

    &--multi
      display: flex
      justify-content: space-around
      height: auto
      border: 0

    &--radio
      width: auto
      display: none

      &:checked + .booking__label
        background-color: $c-link
        color: $c-white
        border-color: $c-link

  
    

