@import '../_includes'

.booking
  
  &__form
    max-width: 90vw

    @media screen and (min-width: 640px) 
      max-width: 50vw

  &__form-group
    display: flex

  &__label
    display: inline-block
    text-align: left
    width: 40%

  &__input
    width: 50%

  
    

