@import '../_includes'

.booking
  
  &__form
    max-width: 90vw

    @media screen and (min-width: 640px) 
      max-width: 50vw

  &__form-group
    display: flex

  &__label
    display: inline-block
    text-align: left
    width: 40%

    &--radio
      width: 2vw
      height: 2vw
      line-height: 2vw
      text-align: center
      border: 1px solid $c-txt
      border-radius: 0

    &--radiolong
      width: 3vw


  &__input
    width: 50%

    &--radio
      width: auto
      display: none

      &:checked + .booking__label
        background-color: $c-link
        color: $c-white
        border-color: $c-link

  
    

