@import '../_includes'

.gallery
  &__pics
    @media screen and (min-width: 769px) 
      display: flex
      align-items: center

  &__item
    padding: 1vw
    margin: 1vw
    border: 1px dotted $c-link
