@import '../_includes'

.gallery

  .main__inner
    max-width: 100vw  

    @media screen and (min-width: 769px) 
      max-width: 80vw  

  &__item
    padding: 3vw
    margin: 3vw
    border: 1px dotted $c-link

    @media screen and (min-width: 769px) 
      display: inline-block
      width: 45%
      padding: 1vw
      margin: 1vw
