@import '../_includes'

.gallery
  &__pics
    overflow-x: auto

    // @media screen and (min-width: 769px) 
    //   display: flex
    //   align-items: center

  &__item
    padding: 3vw
    margin: 3vw
    border: 1px dotted $c-link

    @media screen and (min-width: 769px) 
      float: left
      padding: 1vw
      margin: 1vw
