@import '../_includes'

.gallery
  &__pics

    

  &__item
    padding: 3vw
    margin: 3vw
    border: 1px dotted $c-link

    @media screen and (min-width: 769px) 
      float: left
      width: 40vw
      padding: 1vw
      margin: 1vw
