@import '../_includes'

.logo
  text-align: center
  
  &__pic
    display: inline-block
    width: 90vw
    margin: 6vw 0

    @media screen and (min-width: 640px) 
      width: 40vw
      margin: 5vw 0 3vw

.project
  &::before
    content: ""
    position: absolute
    z-index: 2
    left: 0vw
    top: 0vw
    display: block
    width: 40vw
    height: 20vw
    background: url('/assets/images/feuille2.png') left top no-repeat
    background-size: 100%

  &::after
    content: ""
    position: fixed
    z-index: 2
    right: 0vw
    bottom: -10vw
    display: block
    width: 25vw
    height: 50vw
    background: url('/assets/images/feuille1.png') left top no-repeat
    background-size: 120%

    @media screen and (min-width: 640px) 
      width: 20vw
      height: 40vw

.main 

  @media screen and (min-width: 640px) 
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    min-height: auto
    z-index: 1

.intro
  padding: 0 10vw
  text-align: center

  @media screen and (min-width: 640px) 
    padding: 0

  &__txt

      @media screen and (min-width: 640px) 
        max-width: 60vw
        margin: auto

/* social medias */
.social 
  padding: 0 20vw
  

  &__inner
    display: flex
    justify-content: space-around


.social a 
  margin: 0 1vw
  color: $c-txt


.social .icon 
  text-align: center
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  position: relative
  z-index: 2
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.social .icon span 
  display: block
  height: 60px
  width: 60px
  background: #fff
  border-radius: 50%
  position: relative
  z-index: 2
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1)
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.social .icon span i 
  line-height: 60px
  font-size: 25px


.social .icon .tooltip 
  position: absolute
  top: 0
  z-index: 1
  background: #fff
  color: #fff
  padding: 10px 18px
  font-size: 20px
  font-weight: 500
  border-radius: 25px
  opacity: 0
  pointer-events: none
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1)
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.social .icon:hover .tooltip 
  top: -70px
  opacity: 1
  pointer-events: auto


.icon .tooltip:before 
  position: absolute
  content: ""
  height: 15px
  width: 15px
  background: #fff
  left: 50%
  bottom: -6px
  transform: translateX(-50%) rotate(45deg)
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


.social .icon:hover span 
  color: #fff


.social .icon:hover span,
.social .icon:hover .tooltip 
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4)


.social .facebook:hover span,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip:before 
  background: #3B5999


.social .twitter:hover span,
.social .twitter:hover .tooltip,
.social .twitter:hover .tooltip:before 
  background: #46C1F6


.social .instagram:hover span,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip:before 
  background: #e1306c


.social .tripadvisor:hover span,
.social .tripadvisor:hover .tooltip,
.social .tripadvisor:hover .tooltip:before 
  background: #608648
