@import '../_includes'

.logo
  text-align: center
  
  &__pic
    display: inline-block
    width: 90vw
    margin: 6vw 0

    @media screen and (min-width: 640px) 
      width: 40vw
      margin: 5vw 0

.project
  &::before
    content: ""
    position: absolute
    left: 0vw
    top: 0vw
    display: block
    width: 40vw
    height: 20vw
    background: url('/assets/images/feuille2.png') left top no-repeat
    background-size: 100%

  &::after
    content: ""
    position: fixed
    right: 0vw
    bottom: 0vw
    display: block
    width: 20vw
    height: 40vw
    background: url('/assets/images/feuille1.png') left top no-repeat
    background-size: 100%

    @media screen and (min-width: 640px) 
      width: 15vw
      height: 30vw

.main 
  position: relative
  z-index: 1

.intro
  padding: 10vw 10vw 20vw
  text-align: center

  @media screen and (min-width: 640px) 
    padding: 0

  &__txt

      @media screen and (min-width: 640px) 
        max-width: 60vw
        margin: auto

