@import '../_includes'

.logo
  text-align: center
  
  &__pic
    display: inline-block
    width: 90vw
    margin: 6vw 0

    @media screen and (min-width: 640px) 
      width: 40vw
      margin: 5vw 0

.project
  &::before
    content: ""
    position: absolute
    left: 0vw
    top: 0vw
    display: block
    width: 40vw
    height: 20vw
    background: url('/assets/images/feuille2.png') left top no-repeat
    background-size: 100%

    @media screen and (min-width: 640px) 
      width: 30vw
      height: 15vw
      
  


.main 
  position: relative
  z-index: 1

.intro
  padding: 0 10vw

  @media screen and (min-width: 640px) 
    padding: 0

  &__txt
      text-align: center

      @media screen and (min-width: 640px) 
        max-width: 60vw
        margin: auto

