@import '../_includes'

.menu
  .project
    &::before
      top: -5vw

  .main
    text-align: center
    paddign-top: 10vw

    @media screen and (min-width: 640px) 
      padding-top: 3vw

  &__inner
    max-width: 90vw
    margin: auto
    border: rgba(0,0,0, .4) 1px solid
    padding: 6vw

    @media screen and (min-width: 640px) 
      max-width: 70vw
      padding: 2vw

  &__table
    width: 100%
    table-layout: fixed
    text-align: left

