@import '../_includes'

.menu
  .project
    &::before
      width: 60vw
      height: 30vw

      @media screen and (min-width: 640px) 
        width: 40vw
        height: 20vw
        
  
  &__table
    width: 100%
    table-layout: fixed
    text-align: left
    vertical-align: bottom

  &__nav 
    margin: 7vw 0
    text-transform: uppercase
    display: flex
    justify-content: center
    display: none

    @media screen and (min-width: 640px) 
      margin: 3vw 0

    &-inner

      @media screen and (min-width: 640px) 
        display: flex
        justify-content: space-around
        align-items: center
        width: 100%

    &-link
      padding: 1vw 3vw
      font-size: 3vw
      

      @media screen and (min-width: 640px) 
        padding: .5vw 2.5vw
        font-size: inherit
      
  
  &__price
    position: relative
    text-align: right
    vertical-align: bottom
    

    

    &::before

      .menu__tbody &
        content: ""
        display: block
        height: 1px
        width: 100%
        position: absolute
        bottom: 8%
        left: 0
        //transform: translateY(-50%)
        border-bottom: 1px dotted $c-txt

    &-amount 
      position: relative
      z-index: 1
      display: inline-block
      padding-left: 2vw
      background-color: $c-white

      @media screen and (min-width: 640px) 
        padding-left: 1vw

  &__item
    width: 70%   
    vertical-align: bottom

    @media screen and (min-width: 640px) 
      width: 50%   

    &-name
      display: block
      margin-top: 3vw
      text-transform: uppercase

      @media screen and (min-width: 640px) 
        margin-top: 1vw 
      

    &-ingredients
      color: $c-link
      line-height: 1
      font-size: .8em

  &__price
    line-height: 1
    

