@import '../_includes'

.menu
  .project
    &::before
      top: -5vw

  .main
    text-align: center
    paddign-top: 10vw

    @media screen and (min-width: 640px) 
      padding-top: 3vw

  &__table
    width: 100%
    table-layout: fixed

