@import '../_includes'

.menu
  .project
    &::before
      top: -6vw

  .main
    text-align: center
    paddign-top: 10vw

    @media screen and (min-width: 640px) 
      padding-top: 3vw

  &__title
    position: relative

    &::after
      content: ""
      display: block
      width: 30vw
      height: 10vw
      position: absolute
      top: 100%
      left: 50%
      transform: translateX(-50%)
      background: url('/assets/images/logo_marakkari.png') center top on-repeat
      background-size: 100%


  &__inner
    max-width: 90vw
    margin: auto
    border: $c-link 1px solid
    padding: 6vw

    @media screen and (min-width: 640px) 
      max-width: 50vw
      padding: 2vw

  &__table
    width: 100%
    table-layout: fixed
    text-align: left

