@import '../_includes'

.menu
  .project
    &::before
      top: -6vw

  .main
    text-align: center
    paddign-top: 10vw

    @media screen and (min-width: 640px) 
      padding-top: 3vw

  &__title
    position: relative
    text-transform: uppercase

    &::before
      content: ""
      display: block
      width: 70vw
      height: 20vw
      margin: auto
      background: url('/assets/images/logo-restaurant-le-marakkari.png') center center no-repeat
      background-size: 100%

      @media screen and (min-width: 640px) 
        width: 30vw
        height: 10vw


  &__inner
    max-width: 90vw
    margin: auto
    border: $c-link 1px solid
    padding: 6vw

    @media screen and (min-width: 640px) 
      max-width: 50vw
      padding: 2vw

  &__table
    width: 100%
    table-layout: fixed
    text-align: left
  
  &__price
    position: relative
    text-align: right
    vertical-align: bottom

    &::before
      content: ""
      display: block
      height: 1px
      width: 100%
      position: absolute
      bottom: 0
      left: 0
      border-bottom: 1px dotted $c-txt

    &-amount 
      position: relative
      z-index: 1
      display: inline-block
      padding: 0 1vw
      background-color: $c-white

