@import '../_includes'

.menu
  .project
    &::before
      top: -6vw

  .main
    text-align: center
    paddign-top: 10vw

    @media screen and (min-width: 640px) 
      padding-top: 3vw

  &__title
    position: relative
    text-transform: uppercase

    &::before
      content: ""
      display: block
      width: 70vw
      height: 30vw
      margin: auto
      background: url('/assets/images/logo-restaurant-le-marakkari.png') center center no-repeat
      background-size: 100%

      @media screen and (min-width: 640px) 
        width: 30vw
        height: 10vw


  &__inner
    max-width: 90vw
    margin: auto
    border: $c-link 1px solid
    padding: 6vw

    @media screen and (min-width: 640px) 
      max-width: 50vw
      padding: 2vw

  &__table
    width: 100%
    table-layout: fixed
    text-align: left

