.btn
    display: inline-block
    padding: 2vw 8vw
    background-color: $c-link
    color: $c-white
    margin: 6vw 0
    border-radius: 30px
    text-transform: uppercase

    @media screen and (min-width: 640px) 
        padding: 1vw 2.5vw
        margin: 4vw 0

    &__icon 
        margin-right: 4vw

        @media screen and (min-width: 640px) 
            margin-right: 1vw