.btn
    display: inline-block
    padding: 2vw 4vw
    background-color: $c-link
    color: $c-white
    margin: 6vw 0
    border-radius: 10%

    @media screen and (min-width: 640px) 
        padding: .5vw 1vw
        margin: 2vw 0