.btn
    display: inline-block
    padding: 2vw 8vw
    background-color: $c-link
    color: $c-white
    margin: 6vw 0
    border-radius: 20px
    text-transform: uppercase

    @media screen and (min-width: 640px) 
        padding: .5vw 2.5vw
        margin: 4vw 0