@import '../_includes'

.index

  .logo
    text-align: center
    
    &__pic
      display: inline-block
      width: 90vw
      margin: 6vw 0

      @media screen and (min-width: 769px) 
        width: 40vw
        margin: 5vw 0 3vw

    &__phone
      position: relative
      top: -4vw
      display: block
      font-size: 0.5em
      color: $c-link

      @media screen and (min-width: 769px) 
        top: -2vw

  

  .main 
    padding-bottom: 0

    //@media screen and (min-width: 769px) 
    position: absolute
    left: 50%
    top: 45%
    transform: translate(-50%, -50%)
    min-height: auto
    z-index: 1

    @media screen and (min-width: 769px) 
      top: 40%

  .intro
    //padding: 0 10vw
    text-align: center

    @media screen and (min-width: 769px) 
      padding: 0

    &__txt

        @media screen and (min-width: 769px) 
          max-width: 60vw
          margin: auto

    &__btn
      margin: 6vw 0

      @media screen and (min-width: 769px) 
        margin: 3vw 0

  /* social medias */
  .social 
    
    //padding: 0 20vw   
    @media screen and (min-width: 769px) 
      max-width: 30vw
      marginn: auto
      left: 50%
      position: absolute
      transform: translateX(-50%)

    &__inner
      display: flex
      justify-content: space-around

  &.hasNavOpen
    .social
      position: relative
      top: 20vw


  .social a 
    margin: 0 1vw
    color: $c-txt


  .social .icon 
    text-align: center
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    position: relative
    z-index: 2
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


  .social .icon span 
    display: block
    height: 60px
    width: 60px
    background: #fff
    border-radius: 50%
    position: relative
    z-index: 2
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1)
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


  .social .icon span i 
    line-height: 60px
    font-size: 25px


  .social .icon .tooltip 
    position: absolute
    top: 0
    z-index: 1
    background: #fff
    color: #fff
    padding: 10px 18px
    font-size: 20px
    font-weight: 500
    border-radius: 25px
    opacity: 0
    pointer-events: none
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1)
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


  .social .icon:hover .tooltip 
    top: -70px
    opacity: 1
    pointer-events: auto


  .icon .tooltip:before 
    position: absolute
    content: ""
    height: 15px
    width: 15px
    background: #fff
    left: 50%
    bottom: -6px
    transform: translateX(-50%) rotate(45deg)
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55)


  .social .icon:hover span 
    color: #fff


  .social .icon:hover span,
  .social .icon:hover .tooltip 
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4)


  .social .facebook:hover span,
  .social .facebook:hover .tooltip,
  .social .facebook:hover .tooltip:before 
    background: #3B5999


  .social .twitter:hover span,
  .social .twitter:hover .tooltip,
  .social .twitter:hover .tooltip:before 
    background: #46C1F6


  .social .instagram:hover span,
  .social .instagram:hover .tooltip,
  .social .instagram:hover .tooltip:before 
    background: #e1306c


  .social .tripadvisor:hover span,
  .social .tripadvisor:hover .tooltip,
  .social .tripadvisor:hover .tooltip:before 
    background: #608648

  .footer
    position: absolute
    bottom: 2vw
    left: 0
    width: 100%
   
    @media screen and (min-width: 769px) 
        margin: 0