@import '../_includes'

.menu
  .project
    &::before
      width: 60vw
      height: 30vw

      @media screen and (min-width: 769px) 
        width: 40vw
        height: 20vw

  .main
    &__inner
      padding-top: 5vw;
      margin-bottom: 25vw
      border: 1px dashed $c-link 

      @media screen and (min-width: 640px) 
        padding-left: 8vw
        padding-right: 8vw
        
      @media screen and (min-width: 769px) 
        padding-top: inherit
        margin-bottom: 0
        padding-left: 2vw
        padding-right: 2vw

    .main
    
    text-align: center
    padding-top: 2vw

    @media screen and (min-width: 769px) 
        padding-top: 3vw
        min-height: $h-main
    //padding-bottom: 25vw

    @media screen and (min-width: 769px) 
        padding-bottom: 0

    &__inner
        max-width: 92vw
        margin: 0 auto 15vw
        padding: 0 2vw 10vw

        @media screen and (min-width: 769px) 
            max-width: 500px
            margin: auto
            padding: 2vw 2vw 4vw

    &__title
      margin-top: 10vw

      @media screen and (min-width: 769px) 
        margin-top: 0

        &::before

            @media screen and (min-width: 769px) 
                max-width: 400px
  
  &__table
    width: 100%
    table-layout: fixed
    text-align: left
    vertical-align: bottom

  &__nav 
    margin: 7vw 0
    text-transform: uppercase
    display: flex
    justify-content: center
    display: none

    @media screen and (min-width: 769px) 
      margin: 3vw 0

    &-inner

      @media screen and (min-width: 769px) 
        display: flex
        justify-content: space-around
        align-items: center
        width: 100%

    &-link
      padding: 1vw 3vw
      font-size: 3vw
      

      @media screen and (min-width: 769px) 
        padding: .5vw 2.5vw
        font-size: inherit
      
  
  &__price
    position: relative
    text-align: right
    vertical-align: bottom
    

    

    &::before

      .menu__tbody &
        content: ""
        display: block
        height: 1px
        width: 100%
        position: absolute
        bottom: 8%
        left: 0
        //transform: translateY(-50%)
        border-bottom: 1px dotted $c-txt

    &-amount 
      position: relative
      z-index: 1
      display: inline-block
      padding-left: 2vw
      background-color: $c-white

      @media screen and (min-width: 769px) 
        padding-left: 1vw

  &__row
    &[data-family="legend"]
      position: relative

      .menu__item
        height: 12vw

        @media screen and (min-width: 640px) 
          height: 6vw

        @media screen and (min-width: 769px) 
          height: 4vw

  &__item
    width: 70%   
    vertical-align: bottom

    @media screen and (min-width: 769px) 
      width: 50%   

    &-name
      display: block
      margin-top: 3vw
      text-transform: uppercase

      @media screen and (min-width: 769px) 
        margin-top: 1vw 
      

    &-ingredients
      color: $c-link
      line-height: 1
      font-size: .8em

    &-legend
      white-space: nowrap
      position: absolute
      left: 50%
      transform: translate(-50%, -50%)      
      opacity: 0.5
      text-transform: uppercase

    &-empty
      width: 0%

  &__price
    line-height: 1
    

