.footer
    bottom: 3vw
    
    @media screen and (min-width: 640px) 
        margin: 3vw 0 1vw

    &__txt
        font-size: 2vw
        line-height: 1.6
        text-align: center

        @media screen and (min-width: 640px) 
            font-size: 1vw

        @media screen and (min-width: 1900px) 
            font-size: 12px