.footer
    position: relative
    z-index: 2
    top: -2vw
    //padding-bottom: 3vw

    @media screen and (min-width: 769px) 
        margin: 3vw 0 

    &__txt
        font-size: 2vw
        line-height: 1.6
        text-align: center

        @media screen and (min-width: 769px) 
            font-size: 1vw

        @media screen and (min-width: 1900px) 
            font-size: 12px