.header
    position: absolute
    z-index: 2
    width: 100%
    height: $h-header
    line-height: $h-header
    vertical-align: middle

    @media screen and (min-width: 640px) 
        position: relative

.navbar
    padding: 5vw

    @media screen and (min-width: 640px) 
        padding: 0
        //background-color: rgba(255, 255, 255, 0.7)
    

    &__button
        position: fixed
        right: 3vw
        top: 3vw
        
        @media screen and (min-width: 640px) 
            display: none

       

    .burger 
        position: fixed
        right: 6vw
        top: 6vw
        width: 7vw
        height: 7vw
        
        @media screen and (min-width: 640px) 
            display: none

        .hasNavOpen & 
            //display: none
        
        


        &__btn 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            width: 7vw
            cursor: pointer


        span 
            display: block
            width: 100%
            //box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3)
            border-radius: 3px
            height: 0.5vh
            background: $c-link
            transition: all .3s
            position: relative


        span + span 
            margin-top: 1vh


        .active span:nth-child(1) 
            animation: ease .7s top forwards


        .not-active span:nth-child(1) 
            animation: ease .7s top-2 forwards


        .active span:nth-child(2) 
            animation: ease .7s scaled forwards


        .not-active span:nth-child(2) 
            animation: ease .7s scaled-2 forwards


        .active span:nth-child(3) 
            animation: ease .7s bottom forwards


        .not-active span:nth-child(3) 
            animation: ease .7s bottom-2 forwards


        @keyframes top 
            0% 
                top: 0
                transform: rotate(0)

            50% 
                top: 2.8vw
                transform: rotate(0)

            100% 
                top: 2.8vw
                transform: rotate(45deg)



        @keyframes top-2 
            0% 
                top: 2.8vw
                transform: rotate(45deg)

            50% 
                top: 2.8vw
                transform: rotate(0deg)

            100% 
                top: 0
                transform: rotate(0deg)



        @keyframes bottom 
            0% 
                bottom: 0
                transform: rotate(0)

            50% 
                bottom: 2.8vw
                transform: rotate(0)

            100% 
                bottom: 2.8vw
                transform: rotate(135deg)



        @keyframes bottom-2 
            0% 
                bottom: 2.8vw
                transform: rotate(135deg)

            50% 
                bottom: 2.8vw
                transform: rotate(0)

            100% 
                bottom: 0
                transform: rotate(0)



        @keyframes scaled 
            50% 
                transform: scale(0)

            100% 
                transform: scale(0)



        @keyframes scaled-2 
            0% 
                transform: scale(0)

            50% 
                transform: scale(0)

            100% 
                transform: scale(1)

    
    &__list
        display: none
        text-align: center
        clear: both
        position: absolute
        //z-index: 2
        left: 0
        top: 0
        width: 100%
        height: 100vh
        padding: 5vw
        background-color: rgba(255, 255, 255, 0.95)

        @media screen and (min-width: 640px) 
            position: static
            display: inline-block            
            height: auto
            padding: 0
            background: none
            text-align: right            

        .hasNavOpen &
            display: block

            @media screen and (min-width: 640px) 
                display: flex
                
            

    &__item 
        padding: 3vh 0
        opacity: 0
        transition: all 1s
        

        @media screen and (min-width: 640px) 
            display: inline-block
            padding: 0 2vw
            opacity: 1

        .hasNavOpen &
            opacity: 1

    &__link
        color: $c-txt

        &.on
            color: $c-link
            
            

