.btn
    display: inline-block
    padding: 2vw 5vw
    background-color: $c-link
    color: $c-white
    margin: 1vw 0
    border-radius: 30px
    text-transform: uppercase

    @media screen and (min-width: 640px) 
        padding: 1vw 3vw

    @media screen and (min-width: 769px) 
        padding: .5vw 2.5vw
        margin: 1vw 0

    &.on
        background-color: transparent
        color: $c-txt
        pointer-events: none

    &--big
        padding: 4vw 8vw
        margin: 6vw 0

        @media screen and (min-width: 640px) 
            padding: 2vw 5vw

        @media screen and (min-width: 769px) 
            padding: 1vw 2.5vw
            margin: 4vw 0

    &__icon 
        margin-right: 4vw

        @media screen and (min-width: 769px) 
            margin-right: 1vw